body {
    display: flex;
    justify-content: center;
    
}

.container {
    display: grid;
    width:640px;
    height:640px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.container>div {
    display:flex;
    background-color: white;
    
    

}